---
import Layout from '../../layouts/Default.astro';


---

<Layout title="Towers of Hanoi">
    <h1>Towers of Hanoi</h1>

    <div id="dosbox"></div>
    <br/>
    <!-- js-dos style sheet -->
    <script type="text/javascript" src="https://v8.js-dos.com/latest/js-dos.js"></script>
    <script type="text/javascript">
        Dos(document.getElementById("dosbox"),
        {
            url: "/resources/hanoi.jsdos",
            kiosk: true,
            noCloud: true,
            noNetworking: true
        });
    </script>
</Layout>

<style is:global>
    .pre-run-window div:not(.cursor-pointer) {
        display: none;
    }
    #login {
        display: none;
    }

    @media( min-width: 800px ){
        #dosbox {
            margin-left: -6em;
            margin-right: -6em;
        }
    }

    #dosbox { margin-top: 3rem;}
    .dosbox-container  { width: 640px; height: 400px; }
</style>