html:has(body.home) {
  height: 100%;
}
body {
  font-family: "Maitree", serif;
  line-height: 1.5rem;
  background: #0b0522;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 40rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

a {
  color: inherit;
  font-size: 1em;
  color: #FF9900;
  text-underline-offset: 6.5px;

  &:hover,
  &:focus {
    outline: none;
    font-weight: bold;
    border-bottom: 2px solid #FF9900;
  }
}

img {
  max-width: 100%;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: #0b0522;
  border: 2px solid #FF9900;
  margin: 1rem;

  &:first-child {
    margin-left: 0;
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 1rem 0;
  }

  &:hover,
  &:focus {
      outline: none;
      font-weight: normal;
      border-bottom: unset;
  }
  /* reset button styles*/
    cursor: pointer;


  &.btn-primary {
    background: #FF9900;
    border: 2px solid #FF9900;
    padding: 1em 2em;
    border-radius: 0.5em;

    &:hover,
    &:focus {
      background: #f2f2f2;
      outline: none;
    }

  }

  &.btn-secondary {
    background: #f2f2f2;
    border: 2px solid #FF9900;
    padding: 1em 2em;
    border-radius: 0.5em;

    &:hover,
    &:focus {
      background: #FF9900;
      outline: none;
    }
  }


}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  font-size: 1.5rem;

  @at-root body.home & {
    height: 100%;
    align-items: center;

    @media (max-width: 425px) {
      flex: 0;
      //flex-direction: column;
    }
  }

  @media (max-width: 650px) {
      font-size: 1rem;
  }

    @media (max-width: 325px) {
        font-size: 0.8rem;
    }

  a {

    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
      border-bottom: unset;
      font-weight: unset;
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        color: inherit;
        text-decoration: none;
        font-size: 1em;

        &:after {
          content: "";
          display: block;
          width: 33%;
          height: 0;
          border: 2px solid #f2f2f2;
          transition: width 0.3s;
        }


        &:hover,
        &:focus {
          outline: none;

          &:after {
            width: 100%;
          }

        }

        &:active,
        &.active {
          color: #FF9900;
          &:after {
            border-color: #FF9900;
            width: 100%;
          }
        }
      }
    }
  }
}

.site-title {
  font-family: "Lilita One", Impact, sans-serif;
  font-size: 4em;
  line-height: 1em;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

main {
  padding: 20px;
  flex: 1 0 auto;
}

section {
  margin-bottom: 40px;
}

footer {
  text-align: center;
  padding: 20px;
}

.glider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  width: 6em;
  height: 6em;
  aspect-ratio: 1;
  max-height: 100%;
  margin: 1em 1em 1em 0;
  align-items: center;
  justify-items: center;


    &:hover span {
      animation: evolve 3s infinite;
    }

    //mobile hover with finger press animate
    //@at-root body:hover & span {
    //  animation: evolve 3s infinite;
    //}

  span {
    /* Kudos to Gary Mazzeo ( https://github.com/garymazzeo/ ) for improvements to my original code */
    background: #FF9900;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    opacity: var(--frame-1);

    &:nth-child(1) {
      --frame-1: 1;
      --frame-2: 0;
      --frame-3: 1;
      --frame-4: 0;
    }
    &:nth-child(2) {
      --frame-1: 1;
      --frame-2: 1;
      --frame-3: 1;
      --frame-4: 1;
    }
    &:nth-child(3) {
      --frame-1: 0;
      --frame-2: 1;
      --frame-3: 1;
      --frame-4: 0;
    }
    &:nth-child(4) {
      --frame-1: 1;
      --frame-2: 1;
      --frame-3: 1;
      --frame-4: 1;
    }
    &:nth-child(5) {
      --frame-1: 0;
      --frame-2: 1;
      --frame-3: 0;
      --frame-4: 1;
    }
    &:nth-child(6) {
      --frame-1: 1;
      --frame-2: 0;
      --frame-3: 0;
      --frame-4: 0;
    }
    &:nth-child(7) {
      --frame-1: 1;
      --frame-2: 0;
      --frame-3: 0;
      --frame-4: 1;
    }
    &:nth-child(8) {
      --frame-1: 0;
      --frame-2: 0;
      --frame-3: 1;
      --frame-4: 0;
    }
    &:nth-child(9) {
      --frame-1: 0;
      --frame-2: 1;
      --frame-3: 0;
      --frame-4: 1;
    }
  }
}

@keyframes evolve {
  0% {
    opacity: var(--frame-1);
    transform: scale(var(--frame-1));
  }
  25% {
    opacity: var(--frame-2);
    transform: scale(var(--frame-2));
  }
  50% {
    opacity: var(--frame-3);
    transform: scale(var(--frame-3));
  }
  75% {
    opacity: var(--frame-4);
    transform: scale(var(--frame-4));
  }
  100% {
    opacity: var(--frame-1);
    transform: scale(var(--frame-1));
  }
}
