---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

//last two digits of current year
const year = new Date().getFullYear().toString().slice(-2);
---

<!DOCTYPE html>
<html>
<head>
	<BaseHead title="EHLOVader" />
</head>
<body>
<Header />
<main>


</main>
<footer>
	<p>Copyright &copy; 20{ year }</p>
</footer>
</body>
</html>
