---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html>
<head>
	<BaseHead title="EHLOVader" />
</head>
<body>
<header>
	<div class="glider">
		<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
	</div>
	<h1>EHLOVader</h1>
	<nav>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/resume">Resumé</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/uses">Uses</a></li>
		</ul>
	</nav>
</header>
<main>

</main>
<footer>
	<p>Copyright &copy; Your Name 20XX</p>
</footer>
</body>
</html>
