---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import "@fontsource/lilita-one";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header>
	<a href="/">
		<span class="glider">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</span>
	</a>
	<div class="title">
		{(currentPath === '')? <h1 class="site-title">EHLOVader</h1>:
			<span class="site-title"><a href="/">EHLOVader</a></span>
		}

		<nav>
			<ul>
				<li><HeaderLink href="/about">About</HeaderLink></li>
				<li><HeaderLink href="/resume">Resumé</HeaderLink></li>
				<li><HeaderLink href="/projects">Projects</HeaderLink></li>
				<li><HeaderLink href="/garden">Garden</HeaderLink></li>
				<li><HeaderLink href="/uses">Uses</HeaderLink></li>
			</ul>
		</nav>
	</div>
</header>
